.current-user{
  display: flex;
  justify-content: start;
  gap: 1;
  align-items: center;
  padding: 1rem;

}

.current-user img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;

}

.current-user span {
  font-weight: bold;
}
