[submodule "challenges/cracking-the-coding-interview"]
	path = challenges/cracking-the-coding-interview
	url = git@github.com:lcrojano/cracking-the-coding-interview.git
[submodule "challenges/100-days-of-code"]
	path = challenges/100-days-of-code
	url = git@github.com:lcrojanouninorte/100-days-of-code.git