.tasks-list{
  background-color: antiquewhite;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: start;
  min-height: 300px ;
  max-height: 300px ;

}
.tasks{
  overflow-y: auto;
  position: relative;
}
.add-tasks{
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;

}
.add-tasks input{

  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  margin-right: 1rem;
  outline: none;
  background-color: aliceblue;
  font-size: 1rem;
  font-weight: bold;
  color: gray;
  box-shadow: gray;



}
.add-tasks button{

  position: absolute;
  right: 0;
}
