<!-- Masthead -->
<header class="masthead">
  <div class="h-100 container">
    <div class="justify-content-center align-items-center h-100 text-center row">
      <div class="align-self-end col-lg-10">
        <h1 class="font-weight-bold text-white text-uppercase">{{title}}</h1>
        <hr class="my-4 divider">
      </div>
      <div class="align-self-baseline col-lg-8">
        <p class="mb-5 font-weight-light text-white-75">This is mainly about how to solve technical problems that arise from using front or back end technologies to
          make web pages or web apps but some of these steps will be applicable to solving technical problems in
          general.</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" routerLink="/about">Find Out More</a>
      </div>
    </div>
  </div>
</header>
