html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #683273;
    background-image: linear-gradient(to bottom right, #854ef2, #683273);
    color: #6dcfeb;
    font-family: Quicksand, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    min-height: 100vh;
    min-width: 300px;
    overflow-x: hidden;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
}

a {
    color: currentColor;
    cursor: pointer;
    text-decoration: none;
}
