<!-- Register Section -->
<section class="page-section" id="register">
  <div class="container">
    <div class="justify-content-center row">
      <div class="text-center col-lg-8">
        <h2 class="mt-0">Create an Account!</h2>
        <hr class="my-4 divider">
      </div>
    </div>
    <div class="justify-content-center row">

              <!-- Nested Row within Card Body -->
        <div class="border-0 o-hidden row">
          <div class="col-lg-12">
            <div class="p-5">
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" name="firstname" id="inputFirstName" placeholder="First Name" required>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" name="lastname" id="inputLastName" placeholder="Last Name" required>
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" name="email" id="inputEmail" placeholder="Email Address" required>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" name="password" id="inputPassword" placeholder="Password" required>
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" name="repeatPassword" id="inputRepeatPassword" placeholder="Repeat Password" required>
                  </div>
                </div>
                <button class="btn-block btn btn-primary" type="submit">Register Account</button>
                <hr>
                <a routerLink="#" class="btn-block btn btn-google btn-user">
                  <i class="fa-fw fa-google fab"></i> Register with Google
                </a>
                <a routerLink="#" class="btn-block btn btn-facebook btn-user">
                  <i class="fa-facebook-f fa-fw fab"></i> Register with Facebook
                </a>
              </form>
             <hr class="my-4 divider">

              <div class="text-center">
                <a class="small" routerLink="/login">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>


</section>
